:root {
  --main-color: #459ce7;
  --link-color: #459ce7;
  --link-color-hover: #52afff;
}

html {
  font-size: 12px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /** At this level to avoid terrible impact on performance, having it more
   * down the tree introduces a big delay when firing mousedown event */
  user-select: none;

  /** Better font-weight for macOS */
  font-weight: 500;
}

body {
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: min-content 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    'header header'
    'sidebar view';
}

* {
  outline: none;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
}
