.songs {
  /* -webkit-user-select: none; /* SLOW THINGS DOWN! */
}

.song {
  display: flex;
  /* border-bottom: solid 1px blue; */
}

.songSelected {
  background: var(--main-color);
  color: white;
}

.cell {
  padding: 3px 4px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  cursor: default;
}

.cellSongPlaying {
  width: 30px;
  text-align: center;
}

.cellSong {
  flex: 1;
}

.cellDuration {
  width: 7%;
}

.cellArtist,
.cellAlbum,
.cellGenre {
  width: 20%;
}
