.songs {
  /* -webkit-user-select: none; /* SLOW THINGS DOWN! */
}

.song {
  display: flex;
  border: solid 1px transparent;
  border-right: none;
  border-left: none;

  &:nth-child(odd) {
    background-color: var(--tracks-bg-odd);
  }

  &:nth-child(even) {
    background-color: var(--tracks-bg-even);
  }

  &.songSelected {
    background: var(--main-color);
    color: white;

    & + .songSelected {
      border-top-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.cell {
  padding: 2px 4px; /* 3px if we don't make use of the border */
  /* padding: 0px 4px; */
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  cursor: default;
}

.cellSongPlaying {
  width: 30px;
  text-align: center;
}

.cellSong {
  flex: 1;
}

.cellDuration {
  width: 7%;
}

.cellArtist,
.cellAlbum,
.cellGenre {
  width: 20%;
}
