.sidebar {
  grid-area: sidebar;
  background: var(--header-bg);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px 8px 8px 8px;
  border-right: solid 1px var(--border-color);
}

.bottom {
  margin-top: auto;
}
