.sidebar {
  grid-area: sidebar;
  background: var(--footer-bg);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px;
  border-right: solid 1px var(--border-color);
}

.bottomSection {
  margin-top: auto;
  display: flex;
}
